/* Everything Ruleset */
* {
    font-family: 'Gg Sans', sans-serif;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2F3136;
  overflow-x: hidden;
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  color: #b9bbbe;
  display: block;
}

.sidenav a:hover {
  color: #fff;
}

/* Body Styling */
body {
  margin-left: 160px;
  padding: 0px 10px;
  background-color: #36393f;
}

/* Responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Fonts */
@font-face {
  font-family: 'Gg Sans';
  src: local('Gg Sans Normal'), local('Gg-Sans-Normal'),
    url('../Fonts/ggsans-Normal.woff2') format('woff2'),
    url('../Fonts/ggsans-Normal.woff') format('woff'),
    url('../Fonts/ggsans-Normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}